
h1 {
    text-align: center;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* استایل کلی فرم */
.change-password-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}

/* استایل لیبل‌های فرم */
.change-password-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* استایل ورودی‌های فرم */
.change-password-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* استایل دکمه ارسال */
.change-password-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.change-password-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* استایل کلی فرم */
.profile-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}

/* استایل لیبل‌های فرم */
.profile-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* استایل ورودی‌های فرم */
.profile-form input[type="text"],
.profile-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* استایل دکمه ارسال */
.profile-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.profile-form input[type="submit"]:hover {
    background-color: #45a049;
}
